@media screen and (max-width:1000px) {

    nav.links {
        display: none;
    }
    .container-logo {   
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: #eeddd2;
    }
    
    a.logo {
      display: flex;
      align-items: center;
      margin-left: 0;
    }
}

@media screen and (max-width:900px){
  
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}