@media (max-width: 1250px) { 

  main.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #eeddd2;
    margin: 0;
}

div.text-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 40px;
}

div.slider-container {
  display: none;
}

nav.text-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  width: 80%;
  margin: 0;
}

nav.text-form p {
  margin: 0;
  text-align: center;
}

nav.text-form h1 {
  text-align: center;
}

div.login {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}


  section.adicionales {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeddd2;
  }

  div.text-boton-container {
    width: 80%;
  }

  div.foto-container {
    width: 100%;
}
  
}

@media screen and (max-width:1000px) {
  nav.links {
    display: none;
}
.container-logo {   
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #eeddd2;
}
div.logo {
  display: flex;
  align-items: center;
  margin-left: 0;
}

div.text-boton {
  text-align: center;
}

}

@media screen and (max-width:900px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}

