* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS';
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER */

.container-logo {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #eeddd2;
}

nav.links {
    margin-right: 130px;
}

div.logo {
    display: flex;
    align-items: center;
    margin-left: 130px;
}

.logo img {
    height: 80px;
    margin-right: 20px;
}

nav a {
    font-weight: 600;
    padding-right: 20px;
}

nav a:hover {
    color: darkgray;
}

/* MAIN */

main.jumbotron {
    display: flex;
    align-items: center;
    height: 680px;
    width: 100%;
    background-color: #eeddd2;
    padding: 10px;
}

div.text-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-right: 20px;
}

nav.text-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 80%;
    margin-left: 130px;
}

nav.text-form h1 {
    font-size: 80px;
    margin-bottom: 25px;
    margin-top: 25px;
}

nav.text-form p {
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 165px;
}

/* FORMULARIO */

div.login {
    width: 100%;
    height: 110px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    place-items: top;
}

.form-container {
    display: grid;
    width: 65%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input {
    border: none;
    border-radius: 8px;
    height: 50px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.secondary-button {
    border-radius: 8px;
    height: 45px;
}

/* IMAGENES SLIDER */

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

div.slider {
    width: 600px;
    margin-right: 130px;
    border-radius: 20px;
}
.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite;
    animation-direction: alternate;
}
.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


/* BLOG */

div.text-container {
    width: 100%;
    height: 150px;
    background-color: rgb(238, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.text h1 {
    margin-top: 40px;
    margin-bottom: 8px;
}

div.cards-container {
    width: 100%;
    background-color: rgb(238, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.product-card {
    display: column;
    justify-content: center;
    align-items: center;
    flex-direction: flex;
    margin: 50px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-card img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info figure {
    margin: 0;
}

.product-info figure img {
    width: 35px;
    height: 35px;
}

.product-info div p:nth-child(1) {
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

div.espacio {
    width: 100%;
    height: 100px;
    background-color: rgb(238, 234, 234);
}

/* ADICIONALES */

section.adicionales {
    width: 100%;
    height: 600px;
    display: flex;
    background-color: #eeddd2;
}

div.text-boton-container {
    width: 50%;
    display: flex;
    align-items: center;
}

div.text-boton {
    width: 100%;
    height: 500px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Trebuchet MS';
}

div.foto-container {
    width: 50%;
}

.text-boton h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.text-boton h2 {
    margin-left: 100px;
    font-size: 60px;
    margin-bottom: 20px;
}

.text-boton li {
    margin-left: 100px;
    font-size: 20px;
    margin-bottom: 4px;
    list-style: none;
}

div.foto-container {
    width: 50%;
}

div.foto {
    height: 100%;
    width: 100%;
}

div.foto-container img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.contenedor-contacto {
    margin-left: 100px;
    height: 80px;
    width: 200px;
    margin-top: 50px;
}

input.boton {
    width: 400px;
    height: 60px;
    border-radius: 8px;
}

/* FOOTER */

.pie-pagina{
    width: 100%;
    background-color: rgb(238, 234, 234);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina div.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    background-color: #eeddd2;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: black;
}
.pie-pagina .grupo-2{
    background-color: #eeddd2;
    padding: 15px 10px;
    text-align: center;
    color: black;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

